<a href="https://colab.research.google.com/github/n9quan/QR_Colab/blob/main/WS_1.4_Quantiles_Mean_Variance_Nguyen_Chinh_Quan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

In this notebook, we will continue our exploration of the temperature data used in the New York Times article. Specifically, we will use the mean and median to describe distributions, and we can use deciles/percentiles to describe parts of distributions.

We have already prepared the import statements from the previous notebook for you - all you need to do is run the following two code blocks and upload the datafile. Feel free to use it in any future notebooks as well. If you can't locate the file, you can download it again using the instruction in the previous worksheets.

In [ ]:
#@title
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from google.colab import files
import io

In [ ]:
uploaded = files.upload()
tempdata = pd.read_csv(io.BytesIO(uploaded["NH.Ts+dSST.csv"]), skiprows = 1, na_values = "***")

Saving NH.Ts+dSST.csv to NH.Ts+dSST.csv

Now we will use our data to look at different aspects of distributions. Firstly, we will learn how to use quantiles to determine which observations are ‘normal’ and ‘abnormal’, and then learn how to use variance to describe the shape of a distribution.

**Quantiles** is a value at or below which a stated fraction of the data lies. Quantiles can be quartiles (distribution divided by fourth), quintiles (distribution divided by fifth), deciles (distribution divided by tenth), or percentiles (distribution divided by hundreth). Quantiles are applied for *sorted* data (usually with order from small to large). For example, the first quartile is the value that is larger or equal to one fourth of the data. It is also the same as the 2.5th decile or the 25th percentile. 

**Variance** is a measure of dispersion in a frequency distribution, equal to the mean of the squares of the deviations from the arithmetic mean of the distribution. The variance is used to indicate how ‘spread out’ the data is. A higher variance means that the data is more spread out. For example, the set of numbers `1, 1, 1` has zero variance (no variation), while the set of numbers `1, 1, 999` has a high variance of 221,334 (large spread).

## Using the `quantile` function

The *New York Times* article considers the bottom third (the lowest or coldest one-third) of temperature anomalies in 1951–1980 as ‘cold’ and the top third (the highest or hottest one-third) of anomalies as ‘hot’. In decile terms, temperatures in the 1st to 3rd decile are ‘cold’ and temperatures in the 7th to 10th decile or above are ‘hot’ (rounded to the nearest decile).

We will use Python's `quantile` function to determine what values correspond to the 3rd and 7th decile across all months in 1951–1980.

First, we need to create a variable that contains all monthly anomalies in the years 1951–1980. Then, we use Python's `quantile` function to find the required percentiles (0.3 and 0.7 refer to the 3rd and 7th deciles, or the 30th and 70th percentiles, respectively).

**Exercise:** As in the previous notebook, select the subset of data for the years 1951–1980 and assign it to a variable called `temp_all_months`. Display the variable to convince yourself that the operation has been successful.

In [ ]:
# Solution goes here
temp_all_months = tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)]
print(temp_all_months)

     Year   Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov  \
71   1951 -0.36 -0.52 -0.18  0.07  0.17 -0.02  0.08  0.22  0.33  0.29  0.08
72   1952  0.17  0.17 -0.21  0.17  0.15  0.16  0.14  0.07  0.14 -0.01 -0.21
73   1953  0.24  0.37  0.26  0.41  0.25  0.25  0.22  0.18  0.17  0.27  0.09
74   1954 -0.24  0.00 -0.16 -0.01 -0.07 -0.04 -0.11 -0.01  0.09  0.13  0.34
75   1955  0.42 -0.12 -0.43 -0.24 -0.13 -0.10 -0.05  0.07 -0.02  0.12 -0.34
76   1956 -0.04 -0.32 -0.23 -0.26 -0.30 -0.20 -0.20 -0.28 -0.32 -0.28 -0.26
77   1957 -0.13 -0.06 -0.10 -0.09 -0.05  0.12  0.11  0.16  0.12  0.06  0.12
78   1958  0.68  0.28  0.16  0.02  0.12  0.05  0.05  0.13  0.08  0.08  0.03
79   1959  0.24  0.16  0.33  0.22  0.04  0.14  0.05  0.10  0.13 -0.04  0.03
80   1960  0.15  0.42 -0.40 -0.13  0.03  0.19  0.09  0.11  0.12  0.05 -0.08
81   1961  0.17  0.29  0.22  0.14  0.07  0.18  0.06  0.05 -0.02 -0.03  0.08
82   1962  0.28  0.36  0.30  0.23  0.02 -0.13  0.10  0.04 -0.02  0.13  0.12
83   1963  0.08  0.50 -0.11  0.04 -0.04 -0.04  0.10  0.15  0.13  0.42  0.43
84   1964 -0.05 -0.03 -0.32 -0.30 -0.10 -0.09 -0.13 -0.23 -0.28 -0.31 -0.21
85   1965 -0.02 -0.37 -0.09 -0.26 -0.13 -0.20 -0.18 -0.20 -0.20 -0.02  0.04
86   1966 -0.25  0.03  0.00 -0.22 -0.05  0.06  0.11  0.14  0.06 -0.10  0.02
87   1967 -0.17 -0.37  0.23  0.05  0.21 -0.06  0.04  0.07 -0.03  0.30  0.04
88   1968 -0.29 -0.16  0.44 -0.01 -0.06 -0.05 -0.08 -0.08 -0.04  0.00 -0.22
89   1969 -0.43 -0.46 -0.20  0.03  0.11 -0.04  0.06  0.04  0.04  0.03  0.14
90   1970 -0.02  0.27 -0.07 -0.02  0.00  0.01 -0.04 -0.05 -0.05 -0.20  0.01
91   1971 -0.15 -0.21 -0.28 -0.20 -0.12 -0.14 -0.13 -0.16 -0.14 -0.16 -0.02
92   1972 -0.54 -0.52  0.00 -0.11 -0.16 -0.10 -0.05 -0.09 -0.27 -0.04 -0.19
93   1973  0.15  0.44  0.31  0.19  0.09  0.16  0.04  0.03 -0.08 -0.07 -0.09
94   1974 -0.26 -0.35  0.02 -0.10 -0.19 -0.18 -0.12 -0.11 -0.16 -0.23 -0.21
95   1975  0.16  0.09  0.11  0.05 -0.02 -0.08 -0.06 -0.14 -0.08 -0.18 -0.31
96   1976  0.05 -0.12 -0.31  0.02 -0.26 -0.20 -0.27 -0.21 -0.13 -0.51 -0.32
97   1977 -0.16  0.11  0.26  0.25  0.23  0.22  0.08  0.02  0.12 -0.02  0.27
98   1978  0.16  0.04  0.21  0.07 -0.06 -0.14 -0.08 -0.14 -0.01 -0.01  0.15
99   1979 -0.05 -0.36  0.18 -0.17  0.01  0.07  0.05  0.04  0.19  0.23  0.24
100  1980  0.21  0.40  0.07  0.15  0.25  0.19  0.13  0.09  0.10  0.11  0.20

      Dec   J-D   D-N   DJF   MAM   JJA   SON
71   0.38  0.05  0.00 -0.33  0.02  0.10  0.23
72   0.01  0.06  0.09  0.24  0.04  0.12 -0.03
73   0.22  0.24  0.23  0.21  0.30  0.22  0.18
74  -0.11 -0.01  0.01 -0.01 -0.08 -0.05  0.19
75  -0.28 -0.09 -0.08  0.06 -0.27 -0.03 -0.08
76  -0.10 -0.23 -0.25 -0.22 -0.26 -0.22 -0.29
77   0.24  0.04  0.01 -0.10 -0.08  0.13  0.10
78   0.18  0.15  0.16  0.40  0.10  0.07  0.06
79   0.10  0.13  0.13  0.19  0.20  0.10  0.04
80   0.39  0.08  0.05  0.22 -0.16  0.13  0.03
81  -0.17  0.09  0.13  0.29  0.14  0.10  0.01
82   0.10  0.13  0.11  0.16  0.18  0.00  0.08
83   0.02  0.14  0.15  0.23 -0.04  0.07  0.33
84  -0.27 -0.19 -0.17 -0.02 -0.24 -0.15 -0.27
85  -0.08 -0.14 -0.16 -0.22 -0.16 -0.19 -0.06
86  -0.03 -0.02 -0.02 -0.10 -0.09  0.10  0.00
87   0.02  0.03  0.02 -0.19  0.16  0.02  0.10
88  -0.33 -0.07 -0.04 -0.14  0.13 -0.07 -0.09
89   0.31 -0.03 -0.08 -0.40 -0.02  0.02  0.07
90  -0.31 -0.04  0.01  0.19 -0.03 -0.03 -0.08
91  -0.14 -0.15 -0.17 -0.22 -0.20 -0.14 -0.10
92  -0.04 -0.18 -0.18 -0.40 -0.09 -0.08 -0.17
93  -0.04  0.09  0.09  0.18  0.20  0.08 -0.08
94  -0.27 -0.18 -0.16 -0.22 -0.09 -0.14 -0.20
95  -0.22 -0.06 -0.06 -0.01  0.05 -0.09 -0.19
96  -0.26 -0.21 -0.21 -0.10 -0.18 -0.22 -0.32
97   0.02  0.12  0.09 -0.10  0.24  0.11  0.13
98   0.02  0.02  0.02  0.07  0.07 -0.12  0.05
99   0.54  0.08  0.04 -0.13  0.01  0.06  0.22
100  0.09  0.17  0.20  0.38  0.16  0.14  0.14

You would realize that the data set contains temperature anomalies from 1951 to 1980 for all months and seasons. 
When we would like to look at several months, say from Jan to Mar only, we can use the `iloc` function. The following lines of code give the temperature anomalies from Jan to Mar.

In [ ]:
temp_81to10_Jan_Mar=temp_all_months.iloc[:,1:4]
temp_81to10_Jan_Mar

      Jan   Feb   Mar
71  -0.36 -0.52 -0.18
72   0.17  0.17 -0.21
73   0.24  0.37  0.26
74  -0.24  0.00 -0.16
75   0.42 -0.12 -0.43
76  -0.04 -0.32 -0.23
77  -0.13 -0.06 -0.10
78   0.68  0.28  0.16
79   0.24  0.16  0.33
80   0.15  0.42 -0.40
81   0.17  0.29  0.22
82   0.28  0.36  0.30
83   0.08  0.50 -0.11
84  -0.05 -0.03 -0.32
85  -0.02 -0.37 -0.09
86  -0.25  0.03  0.00
87  -0.17 -0.37  0.23
88  -0.29 -0.16  0.44
89  -0.43 -0.46 -0.20
90  -0.02  0.27 -0.07
91  -0.15 -0.21 -0.28
92  -0.54 -0.52  0.00
93   0.15  0.44  0.31
94  -0.26 -0.35  0.02
95   0.16  0.09  0.11
96   0.05 -0.12 -0.31
97  -0.16  0.11  0.26
98   0.16  0.04  0.21
99  -0.05 -0.36  0.18
100  0.21  0.40  0.07

where `iloc[:,m:n]` selects the `mth` column to the `(n-1)th` column. Note that the first column is labelled 0 and the second column is labelled 1.

**Exercise**: Select temperature anomalies for the months from Jan to Dec and assign to the variable called `temp_51to80`.

In [ ]:
# Insert solution here
temp_51to80 = temp_all_months.iloc[:,1:13]
print(temp_51to80)

      Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
71  -0.36 -0.52 -0.18  0.07  0.17 -0.02  0.08  0.22  0.33  0.29  0.08  0.38
72   0.17  0.17 -0.21  0.17  0.15  0.16  0.14  0.07  0.14 -0.01 -0.21  0.01
73   0.24  0.37  0.26  0.41  0.25  0.25  0.22  0.18  0.17  0.27  0.09  0.22
74  -0.24  0.00 -0.16 -0.01 -0.07 -0.04 -0.11 -0.01  0.09  0.13  0.34 -0.11
75   0.42 -0.12 -0.43 -0.24 -0.13 -0.10 -0.05  0.07 -0.02  0.12 -0.34 -0.28
76  -0.04 -0.32 -0.23 -0.26 -0.30 -0.20 -0.20 -0.28 -0.32 -0.28 -0.26 -0.10
77  -0.13 -0.06 -0.10 -0.09 -0.05  0.12  0.11  0.16  0.12  0.06  0.12  0.24
78   0.68  0.28  0.16  0.02  0.12  0.05  0.05  0.13  0.08  0.08  0.03  0.18
79   0.24  0.16  0.33  0.22  0.04  0.14  0.05  0.10  0.13 -0.04  0.03  0.10
80   0.15  0.42 -0.40 -0.13  0.03  0.19  0.09  0.11  0.12  0.05 -0.08  0.39
81   0.17  0.29  0.22  0.14  0.07  0.18  0.06  0.05 -0.02 -0.03  0.08 -0.17
82   0.28  0.36  0.30  0.23  0.02 -0.13  0.10  0.04 -0.02  0.13  0.12  0.10
83   0.08  0.50 -0.11  0.04 -0.04 -0.04  0.10  0.15  0.13  0.42  0.43  0.02
84  -0.05 -0.03 -0.32 -0.30 -0.10 -0.09 -0.13 -0.23 -0.28 -0.31 -0.21 -0.27
85  -0.02 -0.37 -0.09 -0.26 -0.13 -0.20 -0.18 -0.20 -0.20 -0.02  0.04 -0.08
86  -0.25  0.03  0.00 -0.22 -0.05  0.06  0.11  0.14  0.06 -0.10  0.02 -0.03
87  -0.17 -0.37  0.23  0.05  0.21 -0.06  0.04  0.07 -0.03  0.30  0.04  0.02
88  -0.29 -0.16  0.44 -0.01 -0.06 -0.05 -0.08 -0.08 -0.04  0.00 -0.22 -0.33
89  -0.43 -0.46 -0.20  0.03  0.11 -0.04  0.06  0.04  0.04  0.03  0.14  0.31
90  -0.02  0.27 -0.07 -0.02  0.00  0.01 -0.04 -0.05 -0.05 -0.20  0.01 -0.31
91  -0.15 -0.21 -0.28 -0.20 -0.12 -0.14 -0.13 -0.16 -0.14 -0.16 -0.02 -0.14
92  -0.54 -0.52  0.00 -0.11 -0.16 -0.10 -0.05 -0.09 -0.27 -0.04 -0.19 -0.04
93   0.15  0.44  0.31  0.19  0.09  0.16  0.04  0.03 -0.08 -0.07 -0.09 -0.04
94  -0.26 -0.35  0.02 -0.10 -0.19 -0.18 -0.12 -0.11 -0.16 -0.23 -0.21 -0.27
95   0.16  0.09  0.11  0.05 -0.02 -0.08 -0.06 -0.14 -0.08 -0.18 -0.31 -0.22
96   0.05 -0.12 -0.31  0.02 -0.26 -0.20 -0.27 -0.21 -0.13 -0.51 -0.32 -0.26
97  -0.16  0.11  0.26  0.25  0.23  0.22  0.08  0.02  0.12 -0.02  0.27  0.02
98   0.16  0.04  0.21  0.07 -0.06 -0.14 -0.08 -0.14 -0.01 -0.01  0.15  0.02
99  -0.05 -0.36  0.18 -0.17  0.01  0.07  0.05  0.04  0.19  0.23  0.24  0.54
100  0.21  0.40  0.07  0.15  0.25  0.19  0.13  0.09  0.10  0.11  0.20  0.09


In the next step, we will create a column vector combining all the data points. We can use the `concat` function as in the previous notebook.

**Exercise:** As in the previous notebook, concatenate the data from all columns from January to December and assign the result to a variable called `temp_51to80_concat`. Display the variable to make sure that you were successful.

In [ ]:
# Solution goes here
temp_51to80_concat = pd.concat([temp_51to80["Jan"],temp_51to80["Feb"],temp_51to80["Mar"],temp_51to80["Apr"],temp_51to80["May"],temp_51to80["Jun"],temp_51to80["Jul"],temp_51to80["Aug"],temp_51to80["Sep"],temp_51to80["Oct"],temp_51to80["Nov"],temp_51to80["Dec"]])
temp_51to80_concat

71    -0.36
72     0.17
73     0.24
74    -0.24
75     0.42
       ...
96    -0.26
97     0.02
98     0.02
99     0.54
100    0.09
Length: 360, dtype: float64

We can now use the `quantile` function, which takes a percentile as an argument. For instance, `temp_51to80.quantile(0.3)` calculates the 30th percentile or the 3rd decile of the variable `temp_51to80`. You will receive the quantile values for each month. When you run `temp_51to80_concat.quantile(0.3)`, you will receive one quantile value only because you did concatenate the data.

In [ ]:
p30 = temp_51to80.quantile(0.3)

In [ ]:
p30_concat = temp_51to80_concat.quantile(0.3)

You can convince yourself that this command was successful.

In [ ]:
print("p30=",p30)
print("p30_concat=",p30_concat)

p30= Jan   -0.153
Feb   -0.175
Mar   -0.166
Apr   -0.103
May   -0.063
Jun   -0.093
Jul   -0.066
Aug   -0.083
Sep   -0.059
Oct   -0.049
Nov   -0.120
Dec   -0.119
Name: 0.3, dtype: float64
p30_concat= -0.1

**Exercise:** Next, use the same function to calculate the 7th decile and assign it to a variable called `p70` and `p70_concat`, respectively.

In [ ]:
# Solution goes here
p70 = temp_51to80.quantile(0.7)
p70_concat = temp_51to80_concat.quantile(0.7)
print("p70=",p70)
print("p70_concat=",p70_concat)

p70= Jan    0.160
Feb    0.200
Mar    0.189
Apr    0.070
May    0.076
Jun    0.085
Jul    0.080
Aug    0.076
Sep    0.106
Oct    0.089
Nov    0.099
Dec    0.093
Name: 0.7, dtype: float64
p70_concat= 0.1

## Using the `mean` function

Based on the values you found in the previous section, we will now count the number of anomalies that are considered ‘hot’ in 1981–2010, and express this as a percentage of all the temperature observations in that period. Does this suggest that we are experiencing hotter weather more frequently in 1981–2010? (Remember that each decile represents 10% of observations, so 30% of temperatures were considered ‘hot’ in 1951–1980.)


**Exercise:** Now looking at monthly anomalies in the years 1981–2010, create a variable called `temp_all_months2`. You can simply change the year values in the code.

In [ ]:
# Solution goes here
temp_all_months2 = tempdata[(tempdata["Year"]>= 1981) & (tempdata["Year"] <= 2010)]
temp_all_months2

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
101,1981,0.79,0.62,0.67,0.39,0.18,0.27,0.09,0.16,0.14,0.23,0.35,0.54,0.37,0.33,0.50,0.41,0.17,0.24
102,1982,-0.14,0.16,0.06,0.17,0.09,0.01,0.04,-0.07,0.06,-0.01,-0.11,0.38,0.05,0.07,0.19,0.10,-0.01,-0.02
103,1983,0.55,0.35,0.42,0.06,0.05,0.11,0.20,0.25,0.26,0.12,0.49,0.11,0.25,0.27,0.42,0.18,0.19,0.29
104,1984,0.33,0.02,0.18,-0.07,0.23,0.09,0.09,0.05,-0.04,0.08,-0.10,-0.42,0.04,0.08,0.15,0.11,0.08,-0.02
105,1985,0.07,-0.30,0.00,-0.04,0.08,0.00,-0.08,-0.02,0.02,0.02,0.02,0.16,-0.01,-0.05,-0.22,0.01,-0.03,0.02
106,1986,0.36,0.31,0.26,0.14,0.19,0.14,-0.02,0.04,-0.02,0.09,0.03,0.06,0.13,0.14,0.27,0.20,0.05,0.03
107,1987,0.25,0.50,0.00,0.07,0.23,0.16,0.25,0.27,0.39,0.22,0.10,0.50,0.24,0.21,0.27,0.10,0.23,0.24
108,1988,0.59,0.46,0.47,0.44,0.43,0.40,0.42,0.25,0.26,0.23,0.05,0.42,0.37,0.37,0.52,0.44,0.36,0.18
109,1989,0.08,0.39,0.45,0.32,0.22,0.24,0.31,0.25,0.22,0.25,0.11,0.33,0.26,0.27,0.30,0.33,0.27,0.19
110,1990,0.47,0.54,1.16,0.70,0.50,0.47,0.32,0.40,0.41,0.47,0.45,0.38,0.52,0.52,0.45,0.79,0.40,0.45
111,1991,0.59,0.56,0.45,0.55,0.33,0.47,0.42,0.35,0.35,0.29,0.32,0.20,0.41,0.42,0.51,0.44,0.41,0.32
112,1992,0.60,0.49,0.54,0.15,0.18,0.04,-0.11,-0.08,-0.19,-0.18,-0.09,0.21,0.13,0.13,0.43,0.29,-0.05,-0.15
113,1993,0.38,0.51,0.38,0.23,0.31,0.22,0.12,0.02,-0.07,0.12,-0.21,0.22,0.19,0.18,0.37,0.31,0.12,-0.05
114,1994,0.33,-0.05,0.49,0.48,0.38,0.41,0.33,0.32,0.32,0.54,0.50,0.36,0.37,0.36,0.17,0.45,0.36,0.45
115,1995,0.75,1.19,0.58,0.71,0.41,0.50,0.37,0.53,0.43,0.59,0.56,0.26,0.57,0.58,0.76,0.57,0.47,0.53
116,1996,0.26,0.54,0.31,0.17,0.35,0.25,0.29,0.18,0.03,0.04,0.35,0.34,0.26,0.25,0.36,0.28,0.24,0.14
117,1997,0.33,0.59,0.74,0.48,0.42,0.49,0.41,0.48,0.51,0.63,0.59,0.50,0.51,0.50,0.42,0.55,0.46,0.58
118,1998,0.61,1.03,0.72,0.87,0.66,0.72,0.74,0.72,0.61,0.53,0.48,0.73,0.70,0.68,0.72,0.75,0.73,0.54
119,1999,0.59,0.99,0.29,0.53,0.36,0.34,0.35,0.30,0.40,0.39,0.53,0.66,0.48,0.48,0.77,0.39,0.33,0.44
120,2000,0.38,0.89,0.83,0.88,0.54,0.44,0.41,0.47,0.36,0.29,0.19,0.27,0.50,0.53,0.64,0.75,0.44,0.28
121,2001,0.56,0.45,0.76,0.59,0.68,0.51,0.63,0.68,0.56,0.60,0.97,0.65,0.64,0.61,0.43,0.68,0.61,0.71
122,2002,1.02,1.14,1.11,0.50,0.52,0.68,0.66,0.55,0.62,0.53,0.78,0.42,0.71,0.73,0.94,0.71,0.63,0.65
123,2003,0.92,0.56,0.66,0.60,0.71,0.54,0.68,0.86,0.78,0.98,0.66,0.97,0.75,0.70,0.64,0.66,0.69,0.81
124,2004,0.66,0.91,0.86,0.69,0.52,0.47,0.49,0.55,0.59,0.70,0.98,0.44,0.66,0.70,0.85,0.69,0.50,0.76
125,2005,0.93,0.71,0.94,0.92,0.77,0.79,0.75,0.69,0.90,0.95,1.05,0.83,0.85,0.82,0.70,0.88,0.74,0.96
126,2006,0.64,0.95,0.77,0.59,0.75,0.81,0.69,0.68,0.82,0.95,0.94,1.15,0.81,0.79,0.81,0.71,0.73,0.90
127,2007,1.45,0.89,0.95,1.06,0.72,0.65,0.66,0.73,0.67,0.83,0.81,0.76,0.85,0.88,1.16,0.91,0.68,0.77
128,2008,0.34,0.58,1.13,0.64,0.60,0.61,0.60,0.59,0.57,0.85,0.96,0.65,0.68,0.69,0.56,0.79,0.60,0.79
129,2009,0.82,0.69,0.59,0.70,0.65,0.68,0.68,0.72,0.85,0.78,0.84,0.66,0.72,0.72,0.72,0.65,0.69,0.82
130,2010,0.80,0.94,1.10,1.13,0.93,0.84,0.88,0.86,0.70,0.89,1.20,0.49,0.90,0.91,0.80,1.05,0.86,0.93

**Exercise**: Select temperature anomalies for the months from Jan to Dec and assign to the variable called `temp_81to10`.

In [ ]:
# Insert solution here
temp_81to10 = temp_all_months2.iloc[:,1:13]
temp_81to10

      Jan   Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
101  0.79  0.62  0.67  0.39  0.18  0.27  0.09  0.16  0.14  0.23  0.35  0.54
102 -0.14  0.16  0.06  0.17  0.09  0.01  0.04 -0.07  0.06 -0.01 -0.11  0.38
103  0.55  0.35  0.42  0.06  0.05  0.11  0.20  0.25  0.26  0.12  0.49  0.11
104  0.33  0.02  0.18 -0.07  0.23  0.09  0.09  0.05 -0.04  0.08 -0.10 -0.42
105  0.07 -0.30  0.00 -0.04  0.08  0.00 -0.08 -0.02  0.02  0.02  0.02  0.16
106  0.36  0.31  0.26  0.14  0.19  0.14 -0.02  0.04 -0.02  0.09  0.03  0.06
107  0.25  0.50  0.00  0.07  0.23  0.16  0.25  0.27  0.39  0.22  0.10  0.50
108  0.59  0.46  0.47  0.44  0.43  0.40  0.42  0.25  0.26  0.23  0.05  0.42
109  0.08  0.39  0.45  0.32  0.22  0.24  0.31  0.25  0.22  0.25  0.11  0.33
110  0.47  0.54  1.16  0.70  0.50  0.47  0.32  0.40  0.41  0.47  0.45  0.38
111  0.59  0.56  0.45  0.55  0.33  0.47  0.42  0.35  0.35  0.29  0.32  0.20
112  0.60  0.49  0.54  0.15  0.18  0.04 -0.11 -0.08 -0.19 -0.18 -0.09  0.21
113  0.38  0.51  0.38  0.23  0.31  0.22  0.12  0.02 -0.07  0.12 -0.21  0.22
114  0.33 -0.05  0.49  0.48  0.38  0.41  0.33  0.32  0.32  0.54  0.50  0.36
115  0.75  1.19  0.58  0.71  0.41  0.50  0.37  0.53  0.43  0.59  0.56  0.26
116  0.26  0.54  0.31  0.17  0.35  0.25  0.29  0.18  0.03  0.04  0.35  0.34
117  0.33  0.59  0.74  0.48  0.42  0.49  0.41  0.48  0.51  0.63  0.59  0.50
118  0.61  1.03  0.72  0.87  0.66  0.72  0.74  0.72  0.61  0.53  0.48  0.73
119  0.59  0.99  0.29  0.53  0.36  0.34  0.35  0.30  0.40  0.39  0.53  0.66
120  0.38  0.89  0.83  0.88  0.54  0.44  0.41  0.47  0.36  0.29  0.19  0.27
121  0.56  0.45  0.76  0.59  0.68  0.51  0.63  0.68  0.56  0.60  0.97  0.65
122  1.02  1.14  1.11  0.50  0.52  0.68  0.66  0.55  0.62  0.53  0.78  0.42
123  0.92  0.56  0.66  0.60  0.71  0.54  0.68  0.86  0.78  0.98  0.66  0.97
124  0.66  0.91  0.86  0.69  0.52  0.47  0.49  0.55  0.59  0.70  0.98  0.44
125  0.93  0.71  0.94  0.92  0.77  0.79  0.75  0.69  0.90  0.95  1.05  0.83
126  0.64  0.95  0.77  0.59  0.75  0.81  0.69  0.68  0.82  0.95  0.94  1.15
127  1.45  0.89  0.95  1.06  0.72  0.65  0.66  0.73  0.67  0.83  0.81  0.76
128  0.34  0.58  1.13  0.64  0.60  0.61  0.60  0.59  0.57  0.85  0.96  0.65
129  0.82  0.69  0.59  0.70  0.65  0.68  0.68  0.72  0.85  0.78  0.84  0.66
130  0.80  0.94  1.10  1.13  0.93  0.84  0.88  0.86  0.70  0.89  1.20  0.49

Now that we have all the monthly data for 1981–2010, we want to count the proportion of observations that are smaller than the 3rd decile. This is easily achieved with the following lines of code:

In [ ]:
temp = temp_81to10 < p30
tm = temp.mean()
tm

Jan    0.000000
Feb    0.033333
Mar    0.000000
Apr    0.000000
May    0.000000
Jun    0.000000
Jul    0.066667
Aug    0.000000
Sep    0.066667
Oct    0.033333
Nov    0.033333
Dec    0.033333
dtype: float64

What we did was first create a variable called `temp`, which equals 1 (`True`) for all the monthly temperature anomalies in `temp_81to10` that are smaller than the 30th percentile value (`temp_81to10 < p30`), and 0 (`False`) otherwise.

The mean of this variable is the proportion of 1s corresponding to each month. We can see for example no January between 1981 and 2010 is consider "cold" by standard of pediod 1951-1980. About 3.3% of December between 1981 and 2010 is "cold".

To find the overall proportion of the months are considered "cold" we again calculate the mean of `tm`.

In [ ]:
tm.mean()

0.022222222222222223

Here we find that 0.022 (= 2.2%) of observations are smaller than p30. That means that between 1951 and 1980, 30% of observations for the temperature anomaly were smaller than –0.10, but between 1981 and 2010 only about two per cent of months are considered cold. That is a large change.

**Exercise:** Let’s check whether we get a similar result for the number of observations that are larger than `p70`.

In [ ]:
# Solution goes here
temp1 = temp_81to10 > p70
tm1 = temp1.mean()
tm1

Jan    0.900000
Feb    0.866667
Mar    0.866667
Apr    0.866667
May    0.966667
Jun    0.900000
Jul    0.866667
Aug    0.800000
Sep    0.766667
Oct    0.833333
Nov    0.766667
Dec    0.933333
dtype: float64

In [ ]:
tm1.mean()

0.8611111111111112

## Calculating and understanding mean and variance

The *New York Times* article discusses whether temperatures have become more variable over time. One way to measure temperature variability is by calculating the variance of the temperature distribution. For each season (`DJF`, `MAM`, `JJA`, and `SON`):

* Calculate the mean (average) and variance separately for the following time periods: 1921–1950, 1951–1980, and 1981–2010.
* For each season, compare the variances in different periods, and explain whether or not temperature appears to be more variable in later periods.

You can use the `var` command (in the same way as the `mean` function used above) to calculate the variance.

In [ ]:
# Solution goes here
mean_21to50_DJF = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["DJF"].mean()
mean_21to50_MAM = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["MAM"].mean()
mean_21to50_JJA = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["JJA"].mean()
mean_21to50_SON = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["SON"].mean()
var_21to50_DJF = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["DJF"].var()
var_21to50_MAM = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["MAM"].var()
var_21to50_JJA = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["JJA"].var()
var_21to50_SON = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)])["SON"].var()
mean_51to80_DJF = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["DJF"].mean()
mean_51to80_MAM = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["MAM"].mean()
mean_51to80_JJA = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["JJA"].mean()
mean_51to80_SON = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["SON"].mean()
var_51to80_DJF = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["DJF"].var()
var_51to80_MAM = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["MAM"].var()
var_51to80_JJA = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["JJA"].var()
var_51to80_SON = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)])["SON"].var()
mean_81to10_DJF = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["DJF"].mean()
mean_81to10_MAM = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["MAM"].mean()
mean_81to10_JJA = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["JJA"].mean()
mean_81to10_SON = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["SON"].mean()
var_81to10_DJF = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["DJF"].var()
var_81to10_MAM = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["MAM"].var()
var_81to10_JJA = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["JJA"].var()
var_81to10_SON = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)])["SON"].var()

**Exercise:** We have computed the mean and variance values for each month. Let us now concatenate the data and compute the overall mean and variance. Compare with the previous result.

In [ ]:
# Insert solution here
year_21to50 = (tempdata[(tempdata["Year"] >= 1921) & (tempdata["Year"] <= 1950)]).iloc[:,1:13]
year_51to80 = (tempdata[(tempdata["Year"] >= 1951) & (tempdata["Year"] <= 1980)]).iloc[:,1:13]
year_81to10 = (tempdata[(tempdata["Year"] >= 1981) & (tempdata["Year"] <= 2010)]).iloc[:,1:13]
year_21to50_concat = pd.concat([year_21to50["Jan"],year_21to50["Feb"],year_21to50["Mar"],year_21to50["Apr"],year_21to50["May"],year_21to50["Jun"],year_21to50["Jul"],year_21to50["Aug"],year_21to50["Sep"],year_21to50["Oct"],year_21to50["Nov"],year_21to50["Dec"]])
year_51to80_concat = pd.concat([year_51to80["Jan"],year_51to80["Feb"],year_51to80["Mar"],year_51to80["Apr"],year_51to80["May"],year_51to80["Jun"],year_51to80["Jul"],year_51to80["Aug"],year_51to80["Sep"],year_51to80["Oct"],year_51to80["Nov"],year_51to80["Dec"]])
year_81to10_concat = pd.concat([year_81to10["Jan"],year_81to10["Feb"],year_81to10["Mar"],year_81to10["Apr"],year_81to10["May"],year_81to10["Jun"],year_81to10["Jul"],year_81to10["Aug"],year_81to10["Sep"],year_81to10["Oct"],year_81to10["Nov"],year_81to10["Dec"]])
mean_21to50 = year_21to50_concat.mean()
var_21to50 = year_21to50_concat.var()
mean_51to80 = year_51to80_concat.mean()
var_51to80 = year_51to80_concat.var()
mean_81to10 = year_81to10_concat.mean()
var_81to10 = year_81to10_concat.var()
print(mean_21to50)
print(var_21to50)
print(mean_51to80)
print(var_51to80)
print(mean_81to10)
print(var_81to10)

-0.020027777777777776
0.05372005493655215
-0.0002222222222222246
0.03915649644073042
0.46325000000000005
0.09878300139275766

In [ ]:
p70_2 = temp_81to10.quantile(0.7)

In [ ]:
temp_2 = temp_81to10 > p70_2
tm_2 = temp_2.mean()
tm_2.mean()

0.29999999999999993